<?xml version="1.0" ?>
<launch>
    <arg name="world_name" default="empty"/> 
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- arg name="world_name" value="worlds/willowgarage.world" /-->
    <arg name="world_name" value="$(find mybot_gazebo)/worlds/turtlebot_playground.world" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <include file="$(find mybot_control)/launch/control.launch" />
  
  
  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>

  <!-- Spawn the robot into Gazebo -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mybot" />
  
  
  
  
  
</launch>

