<?xml version='1.0'?>

<robot name="myrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find mybot_description)/urdf/mybot.gazebo" />
  
  <property name="M_PI" value="3.14159" />
  <property name="M_PI_2" value="3.14159" />
  
  
  
  
  <property name="base_mass" value="5" />
  <property name="base_radius" value="0.15"/>
  <property name="base_height" value="0.02"/>
  
  <property name="caster_height" value="0.04" /> 
  <property name="caster_radius" value="0.025" /> 
  <property name="caster_mass" value="0.5" /> 
  
  <property name="wheel_mass" value="2.5" />
  <property name="wheel_radius" value="0.04" /> 
  <property name="wheel_height" value="0.02" />

  
  <link name='chassis'>
    <inertial>
      <mass value="${base_mass}" />
      <origin xyz="0 0 0" /> 
      <inertia  ixx="${base_mass*(3*base_radius*base_radius+base_height*base_height)/12}" ixy = "0" ixz = "0"
      iyy="${base_mass*(3*base_radius*base_radius+base_height*base_height)/12}" iyz="0" 
      izz="${base_mass*base_radius*base_radius/2}" /> 
    </inertial>
    
    <visual>
        <geometry>
            <cylinder length="${base_height}" radius="${base_radius}" />
        </geometry>
    </visual>  
    
    <collision>
        <geometry>
            <cylinder length="${base_height}" radius="${base_radius}" />
        </geometry>
    </collision>
  </link>  
  

  <link name="caster_front_link">
    <visual>
      <origin xyz="0 0.02 0" />
      <geometry>
        <sphere radius="${caster_radius}" />
      </geometry>
    </visual>  
                            
    <collision>
      <geometry>
        <sphere radius="${caster_radius}" />
      </geometry>
      <origin xyz="0 0.02 0" rpy="${M_PI/2} 0 0" />
    </collision>      
    
    <inertial>
      <mass value="${caster_mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0" 
        izz="0.001" />
      </inertial>
  </link> 
  
  
  
  <link name="caster_back_link">
    <visual>
      <origin xyz="0 0.02 0" />
      <geometry>
        <sphere radius="${caster_radius}" />
      </geometry>
    </visual>  
                            
    <collision>
      <geometry>
        <sphere radius="${caster_radius}" />
      </geometry>
      <origin xyz="0 0.02 0" rpy="${M_PI/2} 0 0" />
    </collision>      
    
    <inertial>
      <mass value="${caster_mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0" 
        izz="0.001" />
      </inertial>
  </link> 
  
   <joint name="caster_back_joint" type="fixed">
     <parent link="chassis"/>
     <child link="caster_back_link"/>
     <origin xyz="-0.135 0.0 0.009" rpy="${-M_PI/2} 0 0"/>
   </joint>
   
   <joint name="caster_front_joint" type="fixed">
     <parent link="chassis"/>
     <child link="caster_front_link"/>
     <origin xyz="0.115 0.0 0.007" rpy="${-M_PI/2} 0 0"/>
  </joint>
   
  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="${wheel_height}" radius="${wheel_radius}" />
      </geometry>
    </visual>  
                            
    <collision>
      <geometry>
        <cylinder length="${wheel_height}" radius="${wheel_radius}" />
      </geometry>
    </collision>      
    
    <inertial>
      <mass value="${wheel_mass}" />
      <origin xyz="0 0 0" />
      <inertia  ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_height*wheel_height)/12}" ixy = "0" ixz = "0"
      iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_height*wheel_height)/12}" iyz="0" 
      izz="${wheel_mass*wheel_radius*wheel_radius/2}" /> 
  </link>
  
  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="${wheel_height}" radius="${wheel_radius}" />
      </geometry>
    </visual>  
                            
    <collision>
      <geometry>
        <cylinder length="${wheel_height}" radius="${wheel_radius}" />
      </geometry>
    </collision>      
    
    <inertial>
      <mass value="${wheel_mass}" />
      <origin xyz="0 0 0" />
      <inertia  ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_height*wheel_height)/12}" ixy = "0" ixz = "0"
      iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_height*wheel_height)/12}" iyz="0" 
      izz="${wheel_mass*wheel_radius*wheel_radius/2}" /> 
  </link>
  
  
</robot>
